# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [11]:
city_df = pd.read_csv("/Users/victoriasandoval/python-api-challenge/WeatherPy/cities.csv")
city_df

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
0,0,yeppoon,-23.1333,150.7333,65.98,94,100,7.36,AU,1652024137
1,1,biak,-0.9131,122.8766,77.77,86,100,7.18,ID,1652024138
2,2,hobart,-42.8794,147.3294,44.06,88,21,9.22,AU,1652024138
3,3,rikitea,-23.1203,-134.9692,76.51,80,42,21.25,PF,1652024139
4,4,angoche,-16.2325,39.9086,75.34,76,33,7.92,MZ,1652024140
...,...,...,...,...,...,...,...,...,...,...
557,557,yining,29.0361,114.5636,67.03,98,72,0.76,CN,1652024435
558,558,aquiraz,-3.9014,-38.3911,84.29,85,100,8.50,BR,1652024436
559,559,fallon,39.4735,-118.7774,51.67,35,100,12.66,US,1652024436
560,560,maguling,6.0950,124.4033,80.64,85,100,2.84,PH,1652024437
561,561,mananjary,-21.2167,48.3333,75.38,87,17,7.02,MG,1652024437

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [9]:
gmaps.configure(api_key=g_key)

In [15]:
locations = city_df[["Lat", "Lng"]].astype(float)
weights = city_df["Humidity"].astype(float)

In [16]:
heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

In [17]:
fig = gmaps.figure()
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
ideal_cities = city_df.loc[(city_df["Temp"] > 70) & 
            (city_df["Temp"] < 80) &
            (city_df["Wind"] < 10) & 
            (city_df["Cloudiness"] < 40)].dropna()

ideal_cities

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
4,4,angoche,-16.2325,39.9086,75.34,76,33,7.92,MZ,1652024140
63,63,vaini,-21.2000,-175.2000,73.56,88,20,4.61,TO,1652024170
78,78,cap malheureux,-19.9842,57.6142,75.47,78,2,3.00,MU,1652024178
108,108,marbella,36.5154,-4.8858,78.08,3,18,4.09,ES,1652024193
115,115,maningrida,-12.0667,134.2667,75.58,81,1,8.84,AU,1652024196
132,132,zabol,32.2500,67.2500,77.18,14,1,7.31,AF,1652024204
140,140,saint george,37.1041,-113.5841,73.80,15,0,3.44,US,1652023999
170,170,maxixe,-23.8597,35.3472,76.82,78,20,4.61,MZ,1652024224
172,172,hami,42.8000,93.4500,70.07,34,33,3.96,CN,1652024179
179,179,aksu,41.1231,80.2644,79.20,21,0,4.83,CN,1652024229
181,181,pueblo nuevo,23.3833,-105.3833,76.78,18,8,5.61,MX,1652024230
211,211,ponta do sol,32.6667,-17.1000,73.71,67,6,3.60,PT,1652024246
223,223,isangel,-19.5500,169.2667,71.71,78,23,3.44,VU,1652024252
239,239,cianorte,-23.6633,-52.6050,71.01,57,0,6.40,BR,1652024264
251,251,waingapu,-9.6567,120.2641,79.41,83,11,9.53,ID,1652024270
266,266,vila,42.0304,-8.1588,75.70,41,9,5.53,PT,1652024278
305,305,manakara,-22.1333,48.0167,74.71,91,10,7.23,MG,1652024300
316,316,posadas,-27.3671,-55.8961,73.38,60,0,6.91,AR,1652024306
318,318,grand gaube,-20.0064,57.6608,77.40,78,4,3.00,MU,1652024307
339,339,dicabisagan,17.0818,122.4157,79.56,85,13,3.49,PH,1652024318
344,344,farafangana,-22.8167,47.8333,75.25,89,17,9.64,MG,1652024320
384,384,tura,25.5198,90.2201,77.43,63,15,2.44,IN,1652024341
450,450,alyangula,-13.8483,136.4192,78.67,89,5,3.44,AU,1652024379
461,461,along,28.1667,94.7667,70.43,94,17,2.33,IN,1652024386
495,495,elk city,35.4120,-99.4043,79.48,53,0,0.00,US,1652024403
501,501,beira,-19.8436,34.8389,77.09,83,0,5.75,MZ,1652024406
540,540,afareaitu,-17.5500,-149.7833,75.22,83,20,2.30,PF,1652024427
549,549,san rafael,-34.6177,-68.3301,76.14,17,23,8.30,AR,1652024221
561,561,mananjary,-21.2167,48.3333,75.38,87,17,7.02,MG,1652024437

In [18]:
city_df

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
0,0,yeppoon,-23.1333,150.7333,65.98,94,100,7.36,AU,1652024137
1,1,biak,-0.9131,122.8766,77.77,86,100,7.18,ID,1652024138
2,2,hobart,-42.8794,147.3294,44.06,88,21,9.22,AU,1652024138
3,3,rikitea,-23.1203,-134.9692,76.51,80,42,21.25,PF,1652024139
4,4,angoche,-16.2325,39.9086,75.34,76,33,7.92,MZ,1652024140
...,...,...,...,...,...,...,...,...,...,...
557,557,yining,29.0361,114.5636,67.03,98,72,0.76,CN,1652024435
558,558,aquiraz,-3.9014,-38.3911,84.29,85,100,8.50,BR,1652024436
559,559,fallon,39.4735,-118.7774,51.67,35,100,12.66,US,1652024436
560,560,maguling,6.0950,124.4033,80.64,85,100,2.84,PH,1652024437
561,561,mananjary,-21.2167,48.3333,75.38,87,17,7.02,MG,1652024437

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
hotel_df[]

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure